{% load filters %}
<div class="footer">
    <div class="container">
        <div class="footer-grid" id="footer-grid-large">
            <h3>Leave us a message.</h3>
            {% feedback_form 'Feedback' as feedback_form %}
            <div class="feedback-form">
                <form method="POST" action="{% url 'save_feedback' %}">
                    {% csrf_token %}
                    <p>
                        {{ feedback_form.email }}
                    </p>
                    <p>
                        {{ feedback_form.phone_number }}
                    </p>
                    <p>
                        {{ feedback_form.message }}
                    </p>
                    <input type="submit" value="Submit">

                </form>
            </div>
        </div>
        <!-- <div class="footer-grid">
			<h3>Our Support</h3>
			<ul class="list1">
			  <li><a href="#">Site Map</a></li>
			  <li><a href="#">Search Terms</a></li>
			  <li><a href="#">Advanced Search</a></li>
			  <li><a href="#">Mobile</a></li>
			  <li><a href="#">Contact Us</a></li>
			  <li><a href="#">Mobile</a></li>
			  <li><a href="#">Addresses</a></li>
			</ul>
		  </div> -->
        <div class="footer-grid">
            <h3>Newsletter</h3>

            <p class="footer_desc">Subscribe to our Monthly Newsletter Updates</p>

            <div class="search_footer">
                <input type="text" class="text" value="Insert Email" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Insert Email';}">
                <input type="submit" value="Submit">
            </div>

            <ul class="social">
                <li><a href=""> <i class="fb"> </i> </a></li>
                <li><a href=""><i class="tw"> </i> </a></li>
                <li><a href=""><i class="utube"> </i> </a></li>
                <li><a href=""><i class="pin"> </i> </a></li>
                <li><a href=""><i class="instagram"> </i> </a></li>
            </ul>


        </div>
        <div class="footer-grid footer-grid_last">
            <h3>About Us</h3>

            <p class="footer_desc">Nepathya is one name in Nepali Music – which has gained consistent popularity and
                social recognition. During the past 21 years of its existence- Nepathya has been the trendsetters. </p>

            <p class="f_text">Nepalaya</p>


            <p class="f_text">162/102 Kalika Marg, Kalikasthan,</p>

            <p class="f_text">Kathmandu, Nepal</p>

            <p class="f_text">P.O. Box No. 8975 EPC 1269</p>

            <p class="f_text">Phone : 977-1-4412395, 977-1-4412469</p>

            <p class="email">Email: &nbsp;&nbsp;&nbsp;<span>nepathya@nepalaya.com.np</span></p>

            <p class="email">Also Visit: &nbsp;&nbsp;&nbsp;<span>http://nepa-laya.com</span></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="footer_bottom">
    <div class="container">
        <div class="copy">
            <p>&copy; Nepathya 2.0 by <a href="" target="_blank"> Awecode Solutions</a></p>
        </div>
    </div>
</div>